body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    position: relative;
}

.placeholder-container {
    text-align: center;
}

.placeholder-image {
    max-width: 50%;
    height: auto;
}

.sega-logo {
    position: absolute;
    bottom: 20px;
    left: 20px;
    max-width: 10%;
}

.paramount-logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    max-width: 10%;
}

audio {
    display: none;
}
