@font-face {
  font-family: mojangles;
  src: url("https://sonicmod.com/minecraft/assets/mojangles.ttf");
}

html, body {
  height: 100%;
  margin: 0;
  font-family: mojangles;
  overflow: hidden;
  background-image: url("https://sonicmod.com/minecraft/assets/background/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  height: 40px;
  width: 400px;
  background-image: url("https://sonicmod.com/minecraft/assets/button.png");
  background-size: 400px;
  background-repeat: no-repeat;
  color: #e0e0e0;
  font-size: 14px;
  text-shadow: 2px 2px #383838;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 8px;
  cursor: pointer;
}

.btn:hover {
  background-image: url("https://sonicmod.com/minecraft/assets/button_hover.png");
  color: #ffffa0;
}

.wrap {
  width: 818px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  display: block;
  margin: -100px auto 0;
  width: auto;
  height: 150px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  image-rendering: auto;
  background-image: url("https://sonicmod.com/minecraft/assets/360logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  animation: breathe 1s infinite alternate;
}

@keyframes breathe {
  0% { transform: scale(1.5); }
  100% { transform: scale(1.55); }
}

.footer {
  color: #e0e0e0;
  font-size: 14px;
  text-shadow: 2px 2px #383838;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  text-align: center;
}

.footer a,
.footer a:visited {
  color: rgb(202, 202, 202);
}

.footer a:hover {
  color: #ffffa0;
}

.announcement {
  color: white;
  text-shadow: 1px 1px black;
  position: fixed;
  left: 0;
  top: 0;
  height: 23px;
  width: 100%;
  font-size: 18px;
  text-align: center;
}
